<form  method="post" action="/user_albums" data-remote="true">
	<select name="user_album[album_id]">
		<% @albums.each do |album| %>
		<option value=<%= album.id %>><%= album.album_name %> by <%= album.artist.artist_name %></option>
		<% end %>
	</select>
	<input type="submit" value="submit">
</form>